$color-white: #FFFFFF;
$color-dirty-white: #F0F1F1;
$color-yellow: #FAD648;
$color-black: #000000;
$color-brown: #5E5322;
$color-grey: #737373;
$color-dark-grey: #3C3C3C;
$color-light-grey: #707070;
$color-placeholder: #3C3C3C26;

