@import "fonts";
@import "colors";

.simple_step_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;

  .title {
    font-family: $font-base;
    font-size: 38px;
    text-align: center;
    color: $color-dark-grey;
  }

  .icons_container {
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
    background-color: $color-dirty-white;
    width: 100vw;
    height: 325px;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .step_name {
      font-family: $font-base;
      font-size: 18px;
      color: $color-dark-grey;
      margin-top: 8px;
    }

    .border {
      border: 1px solid $color-light-grey;
      margin: 11px 10px;
      width: 70px;
    }

    .step_text {
      font-family: $font-base;
      font-size: 16px;
      color: $color-dark-grey;
      text-align: center;
    }
  }
}

.simple_step_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 80px;
}